{% include 'core/header.html.twig' %}    
{% include 'body/body_header.html.twig' %}    
    {% block body %}
    {% endblock %}
{% include 'body/body_footer.html.twig' %}
{% include 'core/footer.html.twig' %}   
     