

{% extends 'base.html.twig' %}
{% block body%}

<body>
{# Header #}
{% trans_default_domain 'FOSUserBundle' %}

{# Body #}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({{asset('assets/now-ui-kit-v1.1.0/assets/img/login.jpg')}})"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-signup" data-background-color="orange">
                   	<div class="header text-center">
                        <h4 class="title title-up">Sign Up</h4>
                   	</div>
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="card-body">
                    	
						{# fname #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                         	{{ form_widget(form.fname, { 'attr': {'class': 'form-control', 'placeholder': 'First Name'} }) }}
                        </div>



                        {# lname #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                         	{{ form_widget(form.lname, { 'attr': {'class': 'form-control', 'placeholder': 'last Name'} }) }}
                        </div>
                        {# username #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                         	{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'} }) }}
                        </div>
                        {# email #}

                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
                         	{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'your_email@email.com'} }) }}
                        </div>
                        {# password #}  
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                         	 {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'} }) }}
                        </div>

                        {# confirm password #}  
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                             {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'} }) }}
                        </div>
                       
                        
                        

						<div class="footer text-center">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}" class="btn btn-neutral btn-round btn-lg" />
                        </div>
                        {{ form_end(form) }}
                        </form>

                	</div>
            	</div>
        	</div>
  
    	</div>
    </div>

{% endblock %}