{# Header #}
<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="400">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/post/new">
                            <i class="fa fa-heart"></i>
                            {% if app.user %}
                            <p><strong style="font-size: 13px;">Hi, {{user.username}}</strong></p>
                            {% endif %}
                        </a>
                    </li>
                    <li class="active nav-item">
                        <a class="nav-link" href="/home">
                            <i class="fa fa-home"></i>
                            <p p class="d-lg-none d-xl-none">Home</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('fos_user_profile_edit')}}">
                            <i class="fa fa-gear"></i>
                            <p class="d-lg-none d-xl-none">Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>