{% extends 'base.html.twig' %}
{% block body%}

{# Header #}
<body class="index-page sidebar-collapse">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top" color-on-scroll="400">
        <div class="container">
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/lucky/profile">
                            <i class="fa fa-heart"></i>
                            <p><strong style="font-size: 13px;">Hi, First Name!</strong></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lucky/home">
                            <i class="fa fa-home"></i>
                            <p p class="d-lg-none d-xl-none">Home</p>
                        </a>
                    </li>
                    <li class="active nav-item">
                        <a class="nav-link" href="/lucky/settings">
                            <i class="fa fa-gear"></i>
                            <p class="d-lg-none d-xl-none">Settings</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{# Body #}
    <div class="wrapper">
        <div class="main">
            <div class="section section-tabs">
                
            </div>
        </div>


{# Footer #}
        <footer class="footer" data-background-color="black">
            <div class="container">
                <div class="copyright">&copy;
                    <script>document.write(new Date().getFullYear())</script>, Designed by
                    <a href="#" target="_blank">After Laughter</a>. Coded by 
                    <a href="#" target="_blank">After Laughter</a>.
                </div>
            </div>
        </footer>    

{% endblock %}

