{% extends 'base.html.twig' %}
{% block body%}

<body>
{# Header #}

 
{# Body #}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url({{asset('assets/now-ui-kit-v1.1.0/assets/img/login.jpg')}})"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-signup" data-background-color="orange">
                   	<div class="header text-center">
                        <h4 class="title title-up">Sign Up</h4>
                   	</div>
                    <div class="card-body">
                    	{# fname #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                         	<input name="fname" class="form-control" placeholder="First Name" type="text">
                        </div>
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
=======
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
=======



>>>>>>> commit changes
>>>>>>> Commit changes
                        {# lname #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                         	<input name="lname" class="form-control" placeholder="Last Name" type="text">
                        </div>
                        {# username #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
                         	<input name="username" class="form-control" placeholder="Username" type="text">
=======
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
                         	<input name="username" class="form-control" placeholder="Username" type="text">
=======
                         	<input id="username" name="_username" class="form-control" placeholder="Username" type="text">
>>>>>>> commit changes
>>>>>>> Commit changes
                        </div>
                        {# email #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-at"></i></span>
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
=======
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
>>>>>>> Commit changes
                         	<input name="email" class="form-control" placeholder="Email" type="text">
                        </div>
                        {# password #}
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                         	<input name="password" class="form-control" placeholder="Password" type="text">
<<<<<<< 3d5bfea94eaa6e741067c4edad37d09fb753a26f
=======
=======
                         	<input id="email" name="_email" class="form-control" placeholder="Email" type="text">
                        </div>
                        {# password #}  
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                         	<input id="plainPassword" name="_plainPassword" class="form-control" placeholder="Password" type="text">
>>>>>>> commit changes
>>>>>>> Commit changes
                        </div>

                        <div class="footer text-center">
                            <a href="/lucky/profile" class="btn btn-neutral btn-round btn-lg">GET STARTED</a>
                        </div>                            
                	</div>
            	</div>
        	</div>

{# Footer #}
        	<footer class="footer">
            	<div class="container">
                	<div class="copyright">&copy;
                    	<script>document.write(new Date().getFullYear())</script>, Designed by
                    	<a href="#" target="_blank">After Laughter</a>. Coded by 
                    	<a href="#" target="_blank">After Laughter</a>.
                	</div>
           		</div>
        	</footer>    
    	</div>
    </div>

{% endblock %}