{% extends 'base.html.twig' %}
{% block body%}
{# Body #}
    
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url({{asset('assets/now-ui-kit-v1.1.0/assets//img/bgg6.jpg')}});">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="photo-container" style="padding-top: 170px;">
                        <img src="" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised" style="height: 170px; width: 170px;">
                        <h4 class="title">{{ user.name }}</h4>
                        <p class="category">{{ user.username }}</p>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                {# About Me #}
                <h3 class="title">About me</h3>
                <h5 class="description">{{ user.about }}</h5>
                {# Blog #}
                
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-primary"><i class="fa fa-edit"></i> Blog</h3>
                    </div>
                    {# title #}
                    <div class="col-md-12">
                      
                        {{ form_widget(form.title) }}

                    </div>
                    {# topic #}
                    <div class="col-md-12">
                        {{ form_widget(form.topic) }}                        
                        <datalist id="browsers">  
                            <option value="Self improvement/Self-Hypnosis">
                            <option value="Health & Fitness for Busy People">
                            <option value="Language Learning Blogs">
                            <option value="How to Travel on a Budget (Best hotel deals. Car rental. Trip advice.)">
                            <option value="Writing Style">
                            <option value="Rescued Animals">
                            <option value="Ghost-hunting">
                            <option value="Healthy eating blog">
                            <option value="Beyond the basics of personal financial management">
                            <option value="Hamburgers">
                            <option value="Getting Microsoft Certified">
                            <option value="Careers vs job: following your passion">
                            <option value="How to have a Strong Marriage">
                            <option value="Getting Microsoft Certified">
                        </datalist>
                    </div>
                    {# blog #}
                    <div class="col-md-12">
                        {{ form_widget(form.blog_mess) }}                        
                    </div>
                    {# attachment #}
                   <i class="fa fa-paperclip"></i> Attachment: 
                        {{ form_widget(form.blog_img) }}                        
                    <div class="col-sm-6"></div>
                        <a href="#" class="btn btn-default Default">CLEAR</a>
                        <input type="submit" class="btn btn-primary Primary" value="POST" />
                </div>   
                {{ form_end(form) }}

    

    
        
   

    {# <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
    </ul> #}


                {# POSTED BLOG #}


                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title" style="margin-top:20px;">Posted Blog</h3>
                    </div>
                    {% for r in posts %} 
                    <div class="row">       
                        {# postedblog1 #}
                        
                        {# <div class="col-md-3 text-center">
                            <img src="{{asset('assets/now-ui-kit-v1.1.0/assets//img/team_gra.jpg')}}" alt="Thumbnail Image" class="rounded-circle img-raised2" style="height: 120px; width: 120px; margin-top:20px;"><br>
                            <h7 style="color: gray;">Gra Ayun<br>07/07/07 10:00pm</h7>
                        </div>
                        <div class="col-md-9" style="padding-left: 0px;">
                            <textarea disabled name="postedblog" class="distxarea" rows="8" cols="50" form="userform" style="margin-top:20px;"></textarea>
                        </div>
                        <div class="col-md-3"></div>
                            <button class="btn btn-simple btn-primary Primary" data-toggle="modal" data-target="#modal_edit">
                                <i class="fa fa-pencil" style="font-color:#f96332; font-size:15px;"></i>
                            </button>
                            <button class="btn btn-simple btn-primary Primary"><i class="fa fa-trash" style="font-color:#f96332; font-size:15px;"></i></button>
                        <br> #}
                        {# postedblog2 #}   
                        <div class="col-md-12"></div>
                        <div class="col-md-3 text-center">
                            <img src="" alt="Thumbnail Image" class="rounded-circle img-raised2" style="height: 120px; width: 120px; margin-top:20px;"><br>
                            <h7 style="color: gray;">{{r.username}}<br>{{r.posted_at}}</h7>
                        </div>
                        
                            <div class="col-md-9" style="padding-left: 0px;">
                                {#  name="postedblog" "></textarea> #}
                                <h6 class="title" style="margin-top:20px;">TITLE: {{r.title}}</h6>
                                <p>TOPIC: {{r.topic}}</p>
                                <textarea disabled class="distxarea" rows="8" cols="50" form="userform" style="margin-top:20px;">{{r.blog_mess}}</textarea>
                            </div>
                    </div> 
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="modal fade modal-mini modal-primary" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="fa fa-edit"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <textarea name="editblog" class="txarea" rows="8" cols="50" form="userform" style="margin-top:20px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-link btn-neutral">Save</button>
                        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Discard</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

