    	{% block javascripts_lib %}
        	<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/core/jquery.3.2.1.min.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/core/popper.min.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/core/bootstrap.min.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/plugins/bootstrap-switch.js')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/plugins/nouislider.min.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/plugins/bootstrap-datepicker.js')}}" type="text/javascript"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/plugins/bootstrap-datepicker.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/now-ui-kit-v1.1.0/assets/js/now-ui-kit.js" type="text/javascript')}}"></script>
    		<script type="text/javascript">
    			$(document).ready(function() {
                	nowuiKit.initSliders();
              	});
				function scrollToDownload() {
				if ($('.section-download').length != 0) {
            		$("html, body").animate({
                		scrollTop: $('.section-download').offset().top
            		}, 1000);
        		}}
			</script>

			<script src="{{asset('assets/js/bootstrap.js" type="text/javascript')}}"></script>
			<script src="{{asset('assets/js/jquery.3.2.1.min.js" type="text/javascript')}}"></script>
    	{% endblock %}       
    </body>
</html>