{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ post.username }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Topic</th>
                <td>{{ post.topic }}</td>
            </tr>
            <tr>
                <th>Blog_mess</th>
                <td>{{ post.blogmess }}</td>
            </tr>
            <tr>
                <th>Blog_img</th>
                <td>{{ post.blogimg }}</td>
            </tr>
            <tr>
                <th>Posted_at</th>
                <td>{{ post.postedat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
